
bob/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.json
*.props
*.cs
*.cache
*.cache
*.cache
*.txt
*.dll
*.editorconfig
*.cache
*.pdb
*.dll
*.cache
*.json
*.dll
*.pdb
*.cache
*.editorconfig
*.dll
*.txt
*.cache
*.json
*.props
*.json
